.wrapper {
	 padding: 15px;
  display: flex;
  align-items: stretch;
}
 .wrapper .image {
	 width: 150px;
	 min-height: 200px;
}
 .wrapper .data-wrapper {
	  padding: 0 20px;
    line-height: 1rem;
}
 .wrapper .data-wrapper .title {
	 font-size: 1.5rem;
}
 .wrapper .data-wrapper .rating {
	 color: rgb(66, 64, 64);
}
.margin10px{
  margin: 10px;
}
.line-height15rem{
  line-height: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .wrapper{
    align-items: center;
    flex-direction: column;
  }
  .data-wrapper{
    padding: 20px;
  }
}