.main-list-wrapper{
  margin: 20px 0;
}
.card {
	 --card-gradient: rgba(0, 0, 0, 0.8);
	 --card-gradient: #5e9ad9, #e271ad;
	 --card-blend-mode: overlay;
	 background-color: #fff;
	 border-radius: 0.5rem;
	 box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
	 padding-bottom: 1rem;
	 overflow: hidden;
}
 .card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
	  height: 250px;
	  aspect-ratio: 1.3333333333;
}
 .card img ~ * {
	 margin-left: 1rem;
	 margin-right: 1rem;
}
 .card > :last-child {
	 margin-bottom: 0;
}
/* Additional demo display styles */
 * {
	 box-sizing: border-box;
}
.title-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .card .title {
	 font-size: 1rem;
}
 .card span {
	 font-size: .8rem;
}
 .card .dis {
  margin: 10px;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
 .card a {
	 color: inherit;
}
 .card-wrapper {
	 list-style: none;
	 padding: 0;
	 margin: 0;
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
	 grid-gap: 1rem;
	 max-width: 100vw;
	 padding-left: 1rem;
	 padding-right: 1rem;
}
.noData{
  text-align: center;
  padding: 100px;
  font-size: 30px;
}